
      html,body{
      font-family: arial;
      height: 100%;
      margin: 0;
      padding: 0;
      }
      .row
      {
      height: 100%
      }
      #backrow
      {
      height: 100%;
      background-color:     #06001a;
      }
      #map
      {
      height: 100%;
      }
      #list-view
      {
      height: 100%;
      }
    
      #pano {
      width: 200px;
      height: 200px;
      }
      .text {
      font-size: 12px;
      }
      #images
      {
     
      padding-left: 5%;
      
      }
      .thumbnail
      {
     
      
    padding: 2px;

      width: 50%;
      height: 50%;

      }
      #formElement
      {
       
        margin: 5%;
        margin-left: 7%; 
        padding: 1%;      
        padding-left: 3%;
      }
      ul
      {
        list-style: none;

      }
      ul li
      {
        padding: 1.5%;
        color: white;
        margin: 5px;
        background-color: #12004d;

      }
      ul li:hover{
        background-color: #800080;
        cursor: pointer;

      }

      .container-fluid
      {
        height: 100%;
      }
